<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hostel Management</title>
</head>
<body style="background-color: #ff4d94">
<link rel="stylesheet" href="/static/style.css" type="text/css">
</br><center><h1 style="font-family:Algerian;">DELETE</h1></center></br></br></br></br>
<center><form action="/delete" method="POST" style="border-radius: 25px;background: #ffcce0;font-family:Andulus;text-align:center;font-size:100%;padding: 20px;width: 650px;height: 200px;"></br></br></br>
    Enter ID:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input style="border-radius: 25px;text-align:center;width: 150px;height: 25px;" type="text" name="id" required>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
   </br></br></br></br> <input type="submit" value="Delete"style="border-radius: 25px;height:35px;width:150px;background-color: #ff4d94;" />
</form></center>
</body>
</html>