<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hostel Management</title>
</head>
<body style="background-color: #ff4d94">
<style="background-color: #3498DB"></br><center><h1 style="font-family:Algerian;">ERROR PAGE</h1></style></center></br>
<center><form style="border-radius: 25px;background: #ffcce0;font-family:Andulus;font-size:100%;padding: 20px;width: 650px;height: 400px;">
<link rel="stylesheet" href="/static/style.css" type="text/css">
</br></br></br></br></br></br><h1>Please Enter correct username and password</h1>
   </br></br></br> <a style="border-radius: 25px;height:35px;width:150px;color:black;background-color: #ff4d94;" href="/log">Login</a>
</form></center>
</body>
</html>