<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hostel Management</title>
</head>
<body style="background-color: #ff4d94">
</br></br></br><center><h1 style="font-family:Algerian;">WELCOME</h1></center>
</br></br></br>
<center><form action="/login" method="POST" style="border-radius: 25px;background: #ffcce0;font-family:Andulus;font-size:100%;padding: 20px;width: 650px;height: 200px;" >

<link rel="stylesheet" href="/static/style.css" type="text/css">
</br></br></br></br></br>
<a style="border-radius: 25px;color:black;height:35px;width:150px;background-color: #ff4d94;" width: 350px;margin-top:15px;" href="/form">Register</a>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp<a style="border-radius: 25px;height:35px;width:150px;color:black;background-color: #ff4d94;" width: 500px;margin-top:15px;" href="/del">Delete</a>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp<a style="border-radius: 25px;height:35px;width:150px;color:black;background-color: #ff4d94;" width: 350px;margin-top:15px;" href="/up">UPDATE</a>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp<a style="border-radius: 25px;height:35px;width:150px;color:black;background-color: #ff4d94;" width: 350px;margin-top:15px;" href="/disp">Display</a>

</form>
</body>
</html>