<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hostel Management</title>
</head>
<body style="background-color: #ff4d94">
<link rel="stylesheet" href="/static/style.css" type="text/css">
</br><center><h1 style="font-family:Algerian;">UPDATE</h1></center></br></br></br></br>
<center><form action="/update" method="POST" style="border-radius: 25px;background: #ffcce0;font-family:Andulus;text-align:center;font-size:100%;padding: 20px;width: 650px;height: 300px;"></br></br></br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Enter ID:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" style="border-radius: 25px;text-align:center;width: 150px;height: 25px;"name="id" required>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</br></br></br></br>
Enter ROOM NO:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;    <input type="text" style="border-radius: 25px;text-align:center;width: 150px;height: 25px;" name="Roomno" required>
 </br></br></br></br>   <input type="submit" style="border-radius: 25px;height:35px;width:150px;background-color: #ff4d94;" value="update" />
</form> </center>
</body>
</html>